html, body, #root, #root > div {
  max-height: 100vh;
  max-width: 100vw;
}

.app {
  text-align: center;
}
/* #ps {
  background-color: rgba(33, 149, 243, 0.20);
} */

.ps {
  background-color: rgba(84, 110, 122, 0.20)
}

/* #xb {
  background-color: rgba(76, 175, 79, 0.20);
} */

.xb {
  background-color: rgba(84, 110, 122, 0.20);
}

#fullpage {
  height: 100vh;
}

.playstation {
  height: 50vh;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1488CC, #2B32B2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1488CC, #2B32B2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.xbox {
  height: 49.9vh;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

#psgames {
  max-height: 300px;
  overflow-y: auto;
}

#xbgames {
  max-height: 300px;
  overflow: auto 
}

.img-fluid {
  max-width: 25%
}